<div class="cx-payment-form-billing">
  <div class="cx-payment-form-billing-address">
    {{ 'paymentForm.billingAddress' | cxTranslate }}
  </div>

  <!-- SAME AS SHIPPING CHECKBOX -->
  <ng-container *ngIf="showSameAsDeliveryAddressCheckbox$ | async">
    <div class="form-group">
      <div class="form-check">
        <label>
          <input
            type="checkbox"
            class="form-check-input"
            id="same-as-shipping-checkbox"
            #sameAsDeliveryAddressCheckbox
            [checked]="sameAsDeliveryAddress"
            (change)="toggleSameAsDeliveryAddress()"
            [attr.aria-label]="'paymentForm.billingAddressSameAsShipping' | cxTranslate"
          />
          <span class="form-check-label">
            {{ 'paymentForm.sameAsDeliveryAddress' | cxTranslate }}
          </span>
        </label>
      </div>
    </div>
  </ng-container>

  <!-- BILLING INFO COMPONENT -->
  <ng-container *ngIf="sameAsDeliveryAddress && (deliveryAddress$ | async) as deliveryAddress;">
    <ng-container
      *ngTemplateOutlet="showBillingAddressCard;
      context: { address: deliveryAddress, cardContentId: 'delivery-address-card' }"
    ></ng-container>
  </ng-container>

  <!-- BILLING ADDRESS IS DIFFERENT FROM DELIVERY ADDRESS -->
  <ng-container *ngIf="!sameAsDeliveryAddress">
    <!-- SHOW BILLING ADDRESS FORM -->
    <ng-container *ngIf="{
        billingAddress: billingAddress$ | async,
        showBillingAddressForm: showBillingAddressForm$ | async,
        areTheSameAddresses: areTheSameAddresses$ | async,
      } as  observables"
    >
    <ng-container *ngIf="observables.showBillingAddressForm; else viewMode">
      <ng-container
        *ngTemplateOutlet="showBillingAddressForm;
        context: {areTheSameAddresses: observables.areTheSameAddresses}"
      ></ng-container>
    </ng-container>

    <!-- SHOW DELIVERY BILLING ADDRESS CARD -->
    <ng-template #viewMode>
      <ng-container
        *ngTemplateOutlet="showBillingAddressCard;
        context: {address: showSelectedBillingAddress() | async, cardContentId: 'billing-address-card'}"
      ></ng-container>
    </ng-template>
  </ng-container>
  </ng-container>
</div>

<!-- REQUIRED ASTERISKS TEMPLATE -->
<ng-template #requiredAsterisk>
  <abbr
    *cxFeature="'a11yRequiredAsterisks'"
    class="text-decoration-none required-asterisk"
    aria-hidden="true"
    title="{{ 'common.required' | cxTranslate }}"
  >*</abbr
  >
</ng-template>

<!-- BILLING ADDRESS FORM TEMPLATE -->
<ng-template #showBillingAddressForm let-areTheSameAddresses="areTheSameAddresses">
  <div
    [formGroup]="billingAddressForm"
    id="billing-address-form"
  >
    <p
      *cxFeature="'a11yRequiredAsterisks'"
      class="form-legend"
    >
      {{ 'formLegend.required' | cxTranslate }}
    </p>
    <!--Country-->
    <div
      class="form-group"
      formGroupName="country"
    >
      <ng-container *ngIf="countries$ | async as countries">
        <div *ngIf="countries.length">
          <label>
              <span class="label-content required">
                {{ 'addressForm.country' | cxTranslate }}
                <ng-template
                  [ngTemplateOutlet]="requiredAsterisk"
                ></ng-template>
              </span>
            <ng-select
              [inputAttrs]="{ required: 'true' }"
              [searchable]="true"
              [clearable]="false"
              [items]="countries"
              bindLabel="name"
              bindValue="isocode"
              placeholder="{{'addressForm.selectOne' | cxTranslate}}"
              (change)="countrySelected($event)"
              formControlName="isocode"
              id="country-payment-select"
              [cxNgSelectA11y]="{ariaLabel: 'addressForm.country' | cxTranslate,}"
            >
            </ng-select>
            <cx-form-errors [control]="$any(billingAddressForm.get('country.isocode'))"></cx-form-errors>
          </label>
        </div>
      </ng-container>
    </div>
    <!--First Name-->
    <div class="form-group">
      <label>
          <span class="label-content required">
            {{ 'addressForm.firstName.label' | cxTranslate }}
            <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
          </span>
        <input
          required="true"
          class="form-control"
          type="text"
          placeholder="{{'addressForm.firstName.placeholder' | cxTranslate}}"
          formControlName="firstName"
        />
        <cx-form-errors [control]="$any(billingAddressForm.get('firstName'))"></cx-form-errors>
      </label>
    </div>
    <!--Last Name-->
    <div class="form-group">
      <label>
          <span class="label-content required">
            {{ 'addressForm.lastName.label' | cxTranslate }}
            <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
          </span>
        <input
          required="true"
          type="text"
          class="form-control"
          placeholder="{{'addressForm.lastName.placeholder' | cxTranslate}}"
          formControlName="lastName"
        />
        <cx-form-errors [control]="$any(billingAddressForm.get('lastName'))"></cx-form-errors>
      </label>
    </div>
    <!--Line1-->
    <div class="form-group">
      <label>
          <span class="label-content required">
            {{ 'addressForm.address1' | cxTranslate }}
            <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
          </span>
        <input
          required="true"
          type="text"
          class="form-control"
          placeholder="{{'addressForm.streetAddress' | cxTranslate}}"
          formControlName="line1"
        />
        <cx-form-errors [control]="$any(billingAddressForm.get('line1'))"></cx-form-errors>
      </label>
    </div>
    <!--Line 2-->
    <div class="form-group">
      <label>
        <span class="label-content">{{ 'addressForm.address2' | cxTranslate }}</span>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'addressForm.aptSuite' | cxTranslate }}"
          formControlName="line2"
        />
      </label>
    </div>
    <div class="row">
      <!--City-->
      <div class="form-group col-md-6">
        <label>
            <span class="label-content required">
              {{ 'addressForm.city.label' | cxTranslate }}
              <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
            </span>
          <input
            required="true"
            type="text"
            class="form-control"
            placeholder="{{'addressForm.city.placeholder' | cxTranslate}}"
            formControlName="town"
          />
          <cx-form-errors [control]="$any(billingAddressForm.get('town'))"></cx-form-errors>
        </label>
      </div>
      <!--Zip-->
      <div class="form-group col-md-6">
        <label>
            <span class="label-content required">
              {{ 'addressForm.zipCode.label' | cxTranslate }}
              <ng-template [ngTemplateOutlet]="requiredAsterisk"></ng-template>
            </span>
          <input
            required="true"
            type="text"
            class="form-control"
            placeholder="{{'addressForm.zipCode.placeholder' | cxTranslate}}"
            formControlName="postalCode"
          />
          <cx-form-errors [control]="$any(billingAddressForm.get('postalCode'))"></cx-form-errors>
        </label>
      </div>
      <!--Regions-->
      <ng-container
        *ngIf="regions$ | async as regions"
        formGroupName="region"
      >
        <ng-container *ngIf="regions.length">
          <div class="form-group col-md-6">
            <label>
              <span class="label-content required">{{ 'addressForm.state' | cxTranslate }}</span>
              <ng-select
                [inputAttrs]="{ required: 'true' }"
                class="region-select"
                formControlName="isocodeShort"
                [searchable]="true"
                [clearable]="false"
                [items]="regions"
                [bindLabel]="getRegionBindingLabel(regions)"
                [bindValue]="getRegionBindingValue(regions)"
                placeholder="{{'addressForm.selectOne' | cxTranslate}}"
                id="region-select"
                [cxNgSelectA11y]="{ariaLabel: 'addressForm.state' | cxTranslate}"
              >
              </ng-select>
              <cx-form-errors [control]="billingAddressForm.get('region.isocodeShort')"></cx-form-errors>
            </label>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="cx-checkout-btns row justify-content-end mb-3">
    <div class="col-md-12 col-lg-6">
      <button
        *ngIf="areTheSameAddresses === false"
        class="btn btn-block btn-secondary"
        id="close-billing-address-edit-form-button"
        type="button"
        (click)="disableEditMode()"
      >
        {{ 'addressForm.chooseAddress' | cxTranslate }}
      </button>
    </div>
    <div class="col-md-12 col-lg-6">
      <button
        class="btn btn-block btn-primary"
        id="submit-billing-address-button"
        type="button"
        (click)="submitForm()"
        [disabled]="!billingAddressForm.valid"
      >
        {{ 'common.save' | cxTranslate }}
      </button>
    </div>
  </div>
</ng-template>

<!-- BILLING ADDRESS CARD TEMPLATE -->
<ng-template #showBillingAddressCard let-address="address" let-cardContentId="cardContentId">
  <div class="row w-100" *ngIf="address">
    <cx-card
      class="col-sm-12 col-md-6 payment-form-card mt-3"
      [id]="cardContentId"
      [border]="true"
      [fitToContainer]="true"
      [content]="getAddressCardContent(address) | async"
      (editCard)="editBillingAddress()"
    ></cx-card>
  </div>
</ng-template>
